fastapi
uvicorn[standard]
sqlalchemy
boto3
python-multipart
Pillow
numpy
opencv-python-headless
torch --index-url https://download.pytorch.org/whl/cpu
git+https://github.com/openai/CLIP.git
